@model SMT.SpotRental.UI.Response.EmployeeResponse


<table class="table table-bordered table-striped dataTable no-footer" id="tblUsers" role="grid" aria-describedby="tblUsers">
    @if (Model != null && Model.userList != null && Model.userList.Count > 0)
    {
        <thead class="header" style="background-color: #3c8dbc; color: white;">
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1">
                    User Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1">
                    Email ID
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1">
                    Mobile No
                </th>
                <th class="no-sort" tabindex="0" aria-controls="example1" rowspan="1" style="text-align:center">
                    Role(s)
                </th>
                <th class="no-sort" tabindex="0" aria-controls="example1" rowspan="1" style="text-align:center">
                    Pass Reset
                </th>
                <th class="no-sort" tabindex="0" aria-controls="example1" rowspan="1" style="text-align:center">
                    Edit
                </th>
            </tr>
        </thead>
        foreach (var users in Model.userList)
        {

            <tr>

                <td>@users.UserName</td>
                <td>@users.EmailID</td>
                <td>@users.MobileNo</td>
                <td style="text-align:center"><a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="@users.RoleNames.Replace("$",", ")"> <i class="glyphicon glyphicon-eye-open"></i> </a></td>
                <td style="text-align:center"><a href="#" class="btn btn-success" onclick="resetPassword('@users.EmailID')"><i class="fa fa-refresh" aria-hidden="true"></i></a></td>
                <td style="text-align:center"><a href="#" class="btn btn-danger" onclick="showPopupForEdit('@users.UserID','@users.UserName','@users.EmailID','@users.OfficeLocation','@users.Gender','@users.MobileNo')"> <i class="glyphicon glyphicon-edit"></i> </a></td>

            </tr>
        }
    }
    else
    {
        <tr role="row">
            <td colspan="6">No data found!!</td>
        </tr>
    }

</table>

