@model SMT.SpotRental.UI.Models.DashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Jquery/manageDriverGuard")
<input type="hidden" id="hdnDocsPath" value='@ViewBag.DOCS_PATH' />
<div style="" class="content">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="icb icb-van"></i>&nbsp;Manage Driver / Guard
            </h3>
        </div>
        <div class="box-body">
            <div class="box box-default collapsed-box box-solid box-header with-border">
                <div class="container-fluid">
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label" style="font-size: 11px" for="inputLoaction">Site :</label>
                        </div>
                        <div class="form-group">
                            <select name="ddlSite" id="ddlSite" class="form-control" style="width:150px;">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="font-size: 11px" for="inputLoaction">Vendor Name :</label>
                        </div>
                        <div class="form-group">
                            <select name="ddlVendorCode" id="ddlVendorCode" class="form-control" style="width:231px;"></select>
                        </div>
                        

                        <div class="form-group pull-right">
                            <input type="submit" name="btnSearch" value="Search" id="btnSearch" tabindex="4" class="btn btn-primary btn-sm">
                            <input type="submit" name="btnAdd" value="Add Driver/Guard" id="btnAdd" tabindex="5" class="btn btn-success">
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
            </div>

            <div class="box-body">
                <div id="divInfo" style="display:block;text-align:center;color:red">
                    Please select above criteria and search Driver / Guard!
                </div>
                <div id="divDriverGuardList">

                </div>
            </div>

        </div>
    </div>

</div>

@Html.Partial("_AddUpdateDriverGuard")
@Html.Partial("_DeleteDriverGuard")
@Html.Partial("_ViewDriverGuardDetails")
