@model SMT.SpotRental.UI.Response.AdhocResponse
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<div class="modal-body">
    @if (Model != null && Model.itemsList != null && Model.itemsList.Count > 0)
    {
        <table class="table table-bordered">

            <thead class="bg-aqua-gradient" style="font-size:11px;">
                <tr>
                    <td>Req ID</td>
                    <td>Requester</td>
                    <td>Emp. ID</td>
                    <td>Employee Name</td>
                    <td>Gender</td>
                    <td>Trip Type</td>
                    <td>Source</td>
                    <td>Destination</td>
                    <td>Request Date</td>
                    <td>Pickup Time</td>
                    <td>ESG</td>
                    @*<td>Status</td>*@
                    <td>View</td>
                    <td>Assign Vehicle</td>
                    <td>Re-Assign Vehicle</td>
                    <td>Update Trip</td>
                </tr>
            </thead>
            <tbody style="font-size:10px;">
                @foreach (var item in Model.itemsList)
                {
                    <input type="hidden" id="hdnSourceLandMark_@item.RequestId" value="@item.LandMarkSource" />
                    <input type="hidden" id="hdnDestinationLandMark_@item.RequestId" value="@item.LandMarkDestination" />
                    <input type="hidden" id="hdnStatusName_@item.RequestId" value="@item.StatusName" />
                    <input type="hidden" id="hdnRequestedByName_@item.RequestId" value="@item.RequestByName" />
                    <input type="hidden" id="hdnVehhicleName_@item.RequestId" value="@item.VehicleType" />
                    <input type="hidden" id="hdnVendorName_@item.RequestId" value="@item.VendorName" />
                    <input type="hidden" id="hdnTripType_@item.RequestId" value="@item.IsOfficialTrip" />
                    <input type="hidden" id="hdnVehhicleID_@item.RequestId" value="@item.VehicleID" />
                    <input type="hidden" id="hdnDriverID_@item.RequestId" value="@item.DriverId" />
                    <tr>
                        <td>@item.RequestId</td>
                        <td>@item.RequestByName</td>
                        <td>@item.EmployeeID</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.Gender</td>
                        <td>@item.RouteType</td>
                        <td>@item.Source</td>
                        <td>@item.Destination</td>
                        <td>@item.RequestOn</td>

                        @if (Convert.ToDateTime(item.ReportingTime) < DateTime.Now)
                        {
                            <td style="color:red;font-weight:bold" title="Trip expired.">@item.ReportingTime</td>
                        }
                        else
                        {
                            <td style="color:green;font-weight:bold" title="Pickup time">@item.ReportingTime</td>
                        }

                        <td>@item.ESG</td>
                        @* <td>@item.StatusName</td>*@
                        <td>
                            <a href="#" class="btn btn-info" data-toggle="modal" title="View more details" onclick="viewTripDetails(@item.RequestId)">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </td>
                        @if (item.StatusCode == "AC")
                        {

                            if (Convert.ToDateTime(item.ReportingTime) < DateTime.Now)
                            {
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-danger" data-toggle="modal" title="Trip expired." style="cursor:not-allowed">
                                        <i class="fa fa-car" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-danger" data-toggle="modal" title="Trip expired." style="cursor:not-allowed">
                                        <i class="fa fa-car" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-success" data-toggle="modal" title="Click here to assign vehicle & driver" onclick="assignVehicle(@item.RequestId)">
                                        <i class="fa fa-car" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-danger" data-toggle="modal" title="Click to assign vehicle button." style="cursor:not-allowed">
                                        <i class="fa fa-car" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                        }
                        else
                        {
                            if (Convert.ToDateTime(item.ReportingTime) < DateTime.Now)
                            {
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-danger" data-toggle="modal" title="Trip expired" style="cursor:not-allowed">
                                        <i class="fa fa-car" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-danger" data-toggle="modal" title="Trip expired" style="cursor:not-allowed">
                                        <i class="fa fa-car" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-danger" data-toggle="modal" title="Vehicle and driver already assigned" style="cursor:not-allowed">
                                        <i class="fa fa-car" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-success" data-toggle="modal" title="Click here to re-assign vehicle & driver" onclick="assignVehicle(@item.RequestId,'RE')">
                                        <i class="fa fa-car" aria-hidden="true"></i>
                                    </a>
                                </td>
                            }
                        }
                        @* Open trip status just before 2 hrs of trip started. Need to make configuration for it *@
                        @if (Convert.ToDateTime(item.ReportingTime) >  (DateTime.Now).AddHours(2) || Convert.ToDateTime(item.ReportingTime) < DateTime.Now)
                        {
                            <td style="text-align:center">
                                <a href="#" class="btn btn-default" data-toggle="modal" title="Not allowed" style="cursor:not-allowed">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center">
                                <a href="#" class="btn btn-info" data-toggle="modal" title="click here to update trip status" onclick="showTripStatusPopup(@item.RequestId)">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>
                            </td>
                        }
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        @: Record(s) does not exist.
    }
</div>



